*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.4rem;
  color: #333333;
  font-weight: 400;
  line-height: 1.6; }

ul {
  margin-left: 1.5rem; }
  ul ul {
    margin-left: 2rem; }

.container {
  display: grid;
  grid-template-rows: min-content min-content 40vw repeat(2, min-content);
  grid-template-columns: repeat(12, [col-start] 1fr [col-end]);
  column-gap: 3.2rem;
  padding: 0 3.2rem; }

.heading-1 {
  font-size: 2.4rem; }

.sidebar {
  grid-column: 1 / span 2;
  grid-row: 1 / -1;
  border-right: 1px solid #333;
  position: sticky;
  top: 0;
  height: 100vh; }

.nav {
  display: flex;
  flex-direction: column; }
  .nav__logo {
    width: 100%;
    padding-top: 5.6rem;
    padding-bottom: 5.4rem;
    padding-right: 2.7rem; }
  .nav__list {
    display: flex;
    flex-direction: column;
    gap: 1.4rem; }
  .nav__list-item {
    list-style-type: none; }
    .nav__list-item a {
      font-size: 1.6rem;
      text-decoration: none;
      color: #8f9190;
      width: 100%;
      display: inline-block; }
      .nav__list-item a:hover {
        text-decoration: underline; }
    .nav__list-item--active a {
      color: #333333; }
  .nav__icons {
    display: flex;
    gap: 2.4rem;
    position: absolute;
    bottom: 15px; }
  .nav__icons-item {
    height: 2.4rem; }

.header {
  padding-top: 5.4rem;
  grid-column: 3 / -1; }
  .header__image {
    padding: 4rem 0;
    object-fit: cover;
    max-height: 80vh;
    width: 100%; }

.features {
  grid-column: 3 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15rem; }
  .features__display {
    position: relative; }
    .features__display--large {
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 15rem;
      letter-spacing: -6.5px;
      line-height: 85%; }
    .features__display--medium {
      position: absolute;
      top: 12rem;
      left: 4rem;
      display: inline-block;
      font-size: 2.4rem;
      min-width: 100%;
      text-align: right; }
  .features__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    min-height: 60vh; }

.feature-item #text {
  padding-top: 8px; }

.feature-item span {
  font-size: 1.7rem;
  color: #fff;
  padding: 4px 1.6rem; }

.feature-item--green {
  background-color: #509a87; }

.feature-item--beige {
  background-color: #958e7b; }

.feature-item--navy {
  background-color: #034598; }

.introduction {
  grid-column: 3 / -1;
  display: flex;
  gap: 3.2rem;
  align-items: center;
  padding-bottom: 15.2rem; }
  .introduction__textarea p {
    line-height: 1.5; }
  .introduction img {
    max-width: 55.5rem;
    max-height: 41.4rem; }

.footer {
  border-top: 1px solid #333;
  grid-column: 3 / -1;
  display: flex;
  gap: 9.7rem;
  justify-content: center;
  padding: 8rem 0; }
  .footer table {
    border-spacing: 2rem; }
  .footer__item td {
    vertical-align: top; }

.on {
  grid-column: 3 / -1;
  margin-bottom: 10rem; }
  .on h2 {
    padding: 5.6rem 0 2.9rem 0; }

.off {
  grid-column: 3 / -1; }
  .off h2 {
    margin-bottom: 4.1rem; }
  .off h3 {
    padding-left: 2rem; }
  .off ul {
    clear: both;
    margin-bottom: 7rem; }
  .off li {
    list-style-type: none;
    list-style-position: outside;
    padding: 1rem;
    float: left; }
  .off input[type='checkbox']:not(:checked),
  .off input[type='checkbox']:checked {
    position: absolute;
    left: -9999%; }
  .off input[type='checkbox'] + label {
    display: flex;
    height: 18.7rem;
    width: 20.2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #333;
    color: #333;
    background-color: #fff;
    margin-bottom: 1rem; }
  .off input[type='checkbox']:checked + label {
    border: 1px solid #fff;
    color: #fff;
    background-color: #333; }
  .off__checkboxes {
    display: flex;
    flex-wrap: wrap; }
    .off__checkboxes li {
      flex: 1 0 21%; }

.spring-jebon {
  grid-column: 3 / -1; }
  .spring-jebon img {
    max-width: 56.2rem; }
  .spring-jebon__container {
    display: flex;
    align-items: center;
    margin-bottom: 8rem; }

.probind {
  transform: rotate(-0.91deg); }

.procut {
  padding: 0 8rem; }

.finish-coil {
  transform: rotate(2.9deg); }

.ws-n10 {
  transform: rotate(1.17deg); }
