*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #333333;
  font-weight: 400;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(2, min-content);
  grid-template-columns: repeat(12, [col-start] 1fr [col-end]);
  column-gap: 3.2rem;
  padding: 0 3.2rem; }

.sidebar {
  grid-column: 1 / span 2;
  grid-row: 1 / -1;
  border-right: 1px solid #333;
  position: sticky;
  top: 0;
  height: 100vh; }

.nav {
  display: flex;
  flex-direction: column; }
  .nav__logo {
    width: 100%;
    padding-top: 5.6rem;
    padding-bottom: 5.4rem;
    padding-right: 2.7rem; }
  .nav__list {
    display: flex;
    flex-direction: column;
    gap: 1.4rem; }
  .nav__list-item {
    list-style-type: none; }
    .nav__list-item a {
      font-size: 1.6rem;
      text-decoration: none;
      color: #8f9190;
      width: 100%;
      display: inline-block; }
      .nav__list-item a:hover {
        text-decoration: underline; }
    .nav__list-item--active a {
      color: #333333; }
  .nav__icons {
    display: flex;
    gap: 2.4rem;
    position: absolute;
    bottom: 15px; }
  .nav__icons-item {
    height: 2.4rem; }

.header {
  background-color: #e07533;
  grid-column: 3 / -1; }
  .header__image {
    width: 100%; }

.features {
  background-color: #2e61ae;
  grid-column: 3 / -1; }

.introduction {
  background-color: #0a8d51;
  grid-column: 3 / -1; }

.footer {
  background-color: #ac3b2f;
  grid-column: 3 / -1; }
