.introduction {
  grid-column: 3 / -1;
  display: flex;
  gap: 3.2rem;
  align-items: center;
  padding-bottom: 15.2rem;
  &__textarea p {
    line-height: 1.5;
  }

  & img {
    max-width: 55.5rem;
    max-height: 41.4rem;
  }
}
