.sidebar {
  grid-column: 1 / span 2;
  grid-row: 1 / -1;
  border-right: 1px solid #333;
  position: sticky;
  top: 0;
  height: 100vh;
}

.nav {
  display: flex;
  flex-direction: column;
  &__logo {
    width: 100%;
    padding-top: 5.6rem;
    padding-bottom: 5.4rem;
    padding-right: 2.7rem;
  }

  &__list {
    display: flex;
    flex-direction: column;

    gap: 1.4rem;
  }

  &__list-item {
    list-style-type: none;
    & a {
      font-size: 1.6rem;
      text-decoration: none;
      color: $color-grey-light;
      // padding: 10px 0;
      width: 100%;
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }
    &--active a {
      color: $color-grey-dark;
    }
  }

  &__icons {
    display: flex;
    gap: 2.4rem;
    position: absolute;
    bottom: 15px;
  }

  &__icons-item {
    height: 2.4rem;
  }
}
